@font-face {
  font-family: 'Roboto Slab';
  src: url(./RobotoSlab-Variable.ttf);
  font-stretch: 25% 150%;
  font-style: oblique 0deg 10deg;
  font-weight: 100 700;
  font-display: swap;
}

/* RESET
	From Josh Comeau
	https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* END OF RESET */

/* Now my stuff */
html,
body {
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 18px;
  color: #111;
  background-color: #eee;
  margin: 0;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
button {
  margin: 20px auto;
  cursor: pointer;
}
canvas {
  border: 1px solid #222;
  background: #fff;
  width: 1000px;
  aspect-ratio: 2 / 1;
  margin: 0 auto;
}

.audio-button {
  margin: 0 20px;
  border: none;
  width: 50px;
  background: none;
  position: relative;
  top: 8px;
}
.audio-button img {
  height: 30px;
}
.audio-button.rain img {
  margin: 0 auto;
}

.attribution {
  font-size: 70%;
  max-width: 400px;
  margin: 40px auto 0;
  text-align: center;
}
.attribution a {
  white-space: nowrap;
}

/* Background animation from https://codepen.io/alvarotrigo/pen/MWqqBXX */
/* Photo by Eutah Mizushima on Unsplash */
/* TODO add a nice background with animation or something */
/* body {
  background-image: url('images/eutah-mizushima-F-t5EpfQNpk-unsplash.jpg');
  background-size: cover;
  animation: slidein 100s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
} */
